build
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

wordclock.bin
wordclock.dis
wordclock.elf
wordclock.elf.map
wordclock.hex
wordclock.uf2
